<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.crc.blue">

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_main_icon"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme" tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".splash.SplashActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
        <activity android:name=".main.MainActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".bluetooth.ConnectionActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".main.MainActivity" />
        </activity>
        <activity android:name=".notification.NotificationActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".main.MainActivity" />
        </activity>
        <activity android:name=".click.ClickActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".main.MainActivity" />
        </activity>
        <activity android:name=".preferences.PreferencesActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".main.MainActivity" />
        </activity>
        <activity android:name=".help.HelpActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".main.MainActivity" />
        </activity>
        <activity android:name=".notification.CallActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".notification.NotificationActivity" />
        </activity>
        <activity android:name=".notification.MessageActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".notification.NotificationActivity" />
        </activity>
        <activity android:name=".notification.RestaurantActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".notification.NotificationActivity" />
        </activity>
        <activity android:name=".notification.AttractionActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".notification.NotificationActivity" />
        </activity>
        <activity android:name=".notification.ReminderActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".notification.NotificationActivity" />
        </activity>
        <activity android:name=".click.CameraActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".click.ClickActivity" />
        </activity>
        <activity android:name=".click.RecordActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".click.ClickActivity" />
        </activity>
        <activity android:name=".click.ShortcutActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".click.ClickActivity" />
        </activity>
        <activity android:name=".click.EmergencyActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".click.ClickActivity" />
        </activity>
        <activity android:name=".click.LightActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".click.ClickActivity" />
        </activity>
        <activity android:name=".click.MusicActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".click.ClickActivity" />
        </activity>
        <activity android:name=".click.MannerActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".click.ClickActivity" />
        </activity>
        <activity android:name=".click.FindphoneActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".click.ClickActivity" />
        </activity>
        <activity android:name=".click.CustomizeActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".click.ClickActivity" />
        </activity>
    </application>

</manifest>